// Place all the styles related to the application here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
  background-color: #607D8B;
  height: 100%;
  position: fixed;
  top: 0;
  transition: height 2s;
  width: 100%;
  z-index: 100; }

.svg-container {
  box-sizing: border-box;
  height: 300px;
  left: 50%;
  padding: 50px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  z-index: 102; }
  .svg-container svg {
    height: 100%; }

.small-svg-container {
  left: 0;
  top: 0;
  transform: scale(0.23333); }

#top {
  height: 50px;
  transform: rotate(-45deg);
  transform-origin: left bottom;
  transition: transform 0.2s;
  transition-timing-function: ease-in; }

#bottom {
  height: 150px; }

#tabs-wrapper {
  align-items: center;
  display: flex;
  height: 70px; }

#page-tabs {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  position: relative;
  z-index: 250; }

.tab {
  color: #FFFFFF;
  display: block;
  margin: 0 10px;
  padding-bottom: 0.2rem;
  position: relative;
  text-decoration: none; }

#indicator {
  background-color: #8BC34A;
  bottom: 0;
  height: 0.2rem;
  left: 0;
  position: absolute;
  right: 0; }

#profile-image {
  border-radius: 50%;
  height: 35px;
  margin: 0 10px; }

#profile-toggle {
  display: none; }

#profile-toggle:checked + #profile-dropdown {
  animation-name: expand;
  display: block; }

#profile-dropdown {
  animation-duration: 0.2s;
  animation-timing-function: linear;
  background-color: #FFFFFF;
  border-radius: 2px;
  display: none;
  margin: 10px;
  position: absolute;
  right: 0;
  top: 35px;
  transform-origin: calc(100% - 27.5px) top;
  z-index: 200; }
  #profile-dropdown #name, #profile-dropdown #email {
    font-weight: normal;
    margin: 10px;
    white-space: nowrap; }
  #profile-dropdown #email {
    color: #727272; }

@keyframes expand {
  0% {
    top: 17.5px;
    transform: scale(0, 0); }
  10% {
    top: 17.5px;
    transform: scale(0.1, 0.1); }
  100% {
    top: 35px;
    transform: scale(1, 1); } }
.text-input {
  border-color: #B6B6B6;
  border-radius: 2px;
  border-style: solid;
  border-width: 0 0 2px;
  box-sizing: content-box;
  font-size: 1rem;
  height: 2rem;
  line-height: 2rem;
  outline: none;
  width: 100%; }
  .text-input:focus {
    border-color: #8BC34A; }
    .text-input:focus + label {
      color: #8BC34A; }
  .text-input + label {
    bottom: 0;
    color: #B6B6B6;
    font-size: 1rem;
    left: 0;
    line-height: 2rem;
    position: absolute;
    transform-origin: left center;
    transition: transform 0.2s;
    vertical-align: baseline;
    z-index: 2; }

.solid-button {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.solid-button:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

#profile-dropdown {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

* {
  font-size: 1rem;
  vertical-align: middle; }

div {
  font-size: 0; }

html {
  overflow-y: scroll; }

html, body {
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

input, .card {
  position: relative;
  z-index: 2; }

.card {
  padding: 3%;
  padding-bottom: 1%;
  padding-top: 1%;
  box-shadow: 0 1px 2px #aaa;
  background: white;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 20px;
  border-radius: 3px;
  user-select: none;
  display: inline-block; }
  .card h1 {
    font-size: 2rem;
    font-weight: 200; }
  .card h2 {
    font-size: .9rem;
    line-height: 2.5;
    color: gray;
    font-weight: 400; }
  .card strong {
    font-weight: 300;
    color: #539D00; }

.picture {
  width: 150px;
  height: 222px;
  display: inline-block;
  float: left;
  background: whitesmoke;
  margin: 0px;
  margin-right: 20px; }

button {
  background-color: #FFFFFF;
  border: 0;
  border-radius: 2px;
  color: #8BC34A;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 10px 20px;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle; }

.solid-button {
  background-color: #607D8B;
  color: #FFFFFF;
  transition: box-shadow 0.2s, background-color 0.2s; }
  .solid-button:hover {
    background-color: #8BC34A; }

.card b {
  vertical-align: bottom; }

#utilities-tables {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 1; }

#container {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
  top: 70px;
  width: 90%; }

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(200px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateY(0%); }
  to {
    opacity: 0;
    transform: translateY(200px); } }
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-100%); }
  to {
    opacity: 1;
    transform: translateY(0); } }
#tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 1; }

.time {
  color: #727272;
  margin: 0;
  text-align: center; }

.right-align {
  text-align: right; }

.center-align {
  text-align: center; }

.results-table {
  border-collapse: collapse;
  box-sizing: border-box; }
  .results-table th {
    border-color: #B6B6B6;
    border-style: solid;
    border-width: 0 0 1px;
    color: #727272;
    padding: 10px;
    text-align: left; }
  .results-table td {
    padding: 10px;
    vertical-align: middle; }
  .results-table > tbody > tr > td:nth-child(1) {
    text-align: center; }
  .results-table > tbody > tr > td:nth-child(3) {
    text-align: center; }

.rank1 {
  color: #8BC34A;
  font-weight: bold; }

.error-message {
  color: #F47738;
  font-weight: bold;
  text-align: center; }

#winner-div > h2 {
  font-size: 4rem;
  margin: 0;
  text-align: center; }

#distances-table {
  border-collapse: collapse;
  box-sizing: border-box;
  text-align: center; }
  #distances-table th {
    padding: 10px; }
    #distances-table th .key-node {
      margin: 0; }

.null {
  background-color: #EBEBEB; }

.equal {
  background-color: #FFE8A2; }

.worse {
  background-color: #FFDDDD; }

.better {
  background-color: #DDFFDD; }

.key-node {
  border-radius: 50%;
  color: #FFFFFF;
  display: inline-block;
  font-weight: normal;
  height: 1.5rem;
  line-height: 1.5rem;
  margin-right: 5px;
  text-align: center;
  width: 1.5rem; }

#key {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%; }
  #key div {
    display: inline-block;
    padding: 10px; }

.label-active {
  transform: translateY(-2rem) scale(0.8); }

.input-wrapper {
  margin: 2rem 10px 0;
  position: relative; }

.warning-image {
  display: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0.8); }

#inputs {
  display: flex; }

#search-results {
  display: flex;
  flex-wrap: wrap; }

.search-result {
  animation-duration: 1s;
  animation-name: slide-in;
  background-color: #607D8B;
  height: 444px;
  margin: 30px;
  overflow: hidden;
  position: relative;
  transition: background-color 0.2s;
  width: 300px; }

.info-conatiner {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%; }

.main-icon-container, .child-icon-container {
  border-color: #FFFFFF;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  cursor: default;
  height: 32px;
  left: 5px;
  padding: 2px;
  position: absolute;
  top: 5px;
  user-select: none;
  width: 32px;
  z-index: 3; }

.check-background, .veto-background {
  background-color: #8BC34A;
  border-radius: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: transform 0.2s;
  width: 100%; }

.selected-true .check-background {
  transform: scale(1); }

.veto-background {
  background-color: #912B88; }

.veto-true .veto-background {
  transform: scale(1); }

.icon {
  position: absolute; }

.child-icon-container {
  opacity: 0;
  top: 42px;
  transition: opacity 0.2s;
  z-index: 2; }

.veto-v {
  color: #FFFFFF;
  font-size: 24px;
  left: 0;
  line-height: 24px;
  text-align: center;
  position: absolute;
  width: 100%; }

.veto-eto {
  color: #FFFFFF;
  font-size: 24px;
  left: 32px;
  line-height: 24px;
  text-align: center;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 0.5s;
  position: absolute; }

.child-icon-container:hover .veto-eto {
  transform: scale(1, 1); }

.slide-down {
  animation-duration: 0.5s;
  animation-name: slide-down;
  opacity: 1; }

.search-result-picture {
  height: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  z-index: 5; }
  .search-result-picture:hover {
    opacity: 0.1; }

.search-result-picture-hover {
  opacity: 0.1;
  z-index: 0; }

.search-result-title {
  font-size: 2rem;
  text-align: center; }

.tooltip-conatiner {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%; }

.tooltip {
  font-size: 1.5rem;
  margin: 5% 0; }

#button-disabler {
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: width 1s;
  width: 100%;
  will-change: width; }

.disabled {
  box-shadow: none;
  color: #9F9F9F !important;
  cursor: default; }

#error-container {
  background-color: #F47738;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.5s, background-color 0.5s;
  width: 100%; }

.algorithm-name {
  margin: 0;
  font-size: 2rem; }

.algorithm-graphic {
  display: flex;
  padding: 0 20px 0 10px;
  min-width: 300px;
  width: 20%; }
  .algorithm-graphic svg {
    width: 100%; }

.algorithm-table {
  border-width: 0 0 0 2px;
  border-style: dashed;
  border-color: #B6B6B6;
  text-align: center; }

.algorithm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  width: 100%; }
  .algorithm p {
    flex-grow: 1;
    text-align: justify;
    min-width: 300px;
    padding: 0 10px;
    width: 0; }

/*# sourceMappingURL=styles.css.map */
