<p id="log"></p>
<div id="results">
  <div id="winner-div">
    <h3>This week's winner is</h3>
    <h2 id="winner"></h2>
  </div>
  <div id="utilities">
    <h2>Pairwise Victories</h2>
    <div id="key"></div>
    <div id="utilities-tables">
      <div id="distances"></div>
      <div id="svg"></div>
    </div>
  </div>
  <div>
    <h2>Rankings</h2>
    <div>
      <div id="schulze">
        <h2 class="algorithm-name">Schulze</h2>
        <div class="algorithm">
          <p class="algorithm-description">The Schulze method (also known as the Beatpath Method) is a voting system developed in 1997 by Markus Schulze. It is used by several organisations including Debian, Ubuntu and Wikimedia. <br><br> Define \(d(X,Y)\)  to be the number of votes that rank \(X\) over \(Y\)  and let \(G\) be the wieghted, directed graph which has an edge from \(X\) to \(Y\) with weight \(w\) if and only if \(w = d(X,Y) > d(Y,X)\). A film \(X\) is better (according to the Schulze method) than a film \(Y\) if the strongest path (in \(G\)) from \(X\) to \(Y\) is stronger than the strongest path (in \(G\)) from \(Y\) to \(X\).</p>
          <div id="schulze-graph" class="algorithm-graphic"></div>
          <div id="schulze-table" class="algorithm-table"></div>
        </div>
      </div>
      <div id="copeland">
        <h2 class="algorithm-name">Copeland's</h2>
        <div class="algorithm">
          <p class="algorithm-description">Copeland's method (also known as Copeland's pairwise aggregation method) is a Condorcet voting method.<br><br>We say film \(X\) beats film \(Y\) if the number of people who ranked \(X\) higher than \(Y\) is greater than the number of people who ranked \(Y\) higher than \(X\). The score for a film \(X\) is then the number of films \(X\) beats minus the number of films that beat \(X\).  </p>
          <div id="copeland-graph" class="algorithm-graphic"><table id="distances-table"></table></div>
          <div id="copeland-table" class="algorithm-table"></div>
        </div>
      </div>
      <div id="borda">
        <h2 class="algorithm-name">Borda</h2>
        <div class="algorithm">
          <p class="algorithm-description"></p>
          <div id="borda-table" class="algorithm-table"></div>
        </div>
      </div>
      <div id="minimax">
        <h2 class="algorithm-name">Minimax</h2>
        <div class="algorithm">
          <p class="algorithm-description"></p>
          <div id="minimax-graph" class="algorithm-graphic"><table id="distances-table"></table></div>
          <div id="minimax-table" class="algorithm-table"></div>
        </div>
      </div>
      <div id="kemenyYoung">
        <h2 class="algorithm-name">Kemeny-Young</h2>
        <div class="algorithm">
          <p class="algorithm-description"></p>
          <div id="kemenyYoung-table" class="algorithm-table"></div>
        </div>
      </div>
      <div id="baldwin">
        <h2 class="algorithm-name">Baldwin</h2>
        <div class="algorithm">
          <p class="algorithm-description">The Baldwin method is a form of runoff voting developed by Joseph M. Baldwin<br><br>In each round the films are ranked according to a Borda count. The film with the lowest score is then eliminated. The films are then ranked according to how long they remained in the process.</p>
          <div id="baldwin-graph" class="algorithm-graphic"></div>
          <div id="baldwin-table" class="algorithm-table"></div>
        </div>
      </div>
      <div id="nanson">
        <h2 class="algorithm-name">Nanson</h2>
        <div class="algorithm">
          <p class="algorithm-description">The Nanson method is a condorcet method based on the work of the mathematician Edward J. Nanson. The method has seen some use in the past including in city elections in the U.S. town of Marquette, Michigan in the 1920s and at the University of Melbourne (where Nanson was Professor of Mathematics).<br><br>In each round the films are ranked according to a Borda count. Films with scores at most the average score are then eliminated. The films are ranked by the score they had when they were elimintaed.</p>
          <div id="nanson-graph" class="algorithm-graphic"></div>
          <div id="nanson-table" class="algorithm-table"></div>
        </div>
      </div>
      <div id="first-past-the-post"></div>
      <div id="first-past-the-post">
        <h2 class="algorithm-name">First-Past-the-Post</h2>
        <div class="algorithm">
          <p class="algorithm-description"></p>
          <div id="first-past-the-post-table" class="algorithm-table"></div>
        </div>
      </div>
      <div id="av">
        <h2 class="algorithm-name">Alternative Voting</h2>
        <div class="algorithm">
          <p class="algorithm-description">Alternative Voting (also known as Instant-Runoff Voting) is a widely used single-winner voting method. It is often used to elect politicians with examples including the leaders of the Labour Party and the Liberal Democrats, the charimen of select committees and the Speaker of the House of Lords. First-past-the-post is still used to elect MPs after 67.9% of voters voted against adopting AV in a referendum on May 5 2011.<br><br>The number of first votes for each candidate are counted. If a candidate has a majority, they are declared the winner, else the candidates with the lowest score are eliminated and the process is repeated.</p>
          <div id="av-graph" class="algorithm-graphic"></div>
          <div id="av-table" class="algorithm-table"></div>
        </div>
      </div>
      <div id="anti-plurality">
        <h2 class="algorithm-name">Anti-Plurality</h2>
        <div class="algorithm">
          <p class="algorithm-description"></p>
          <div id="anti-plurality-table" class="algorithm-table"></div>
        </div>
      </div>
      <div id="coombs">
        <h2 class="algorithm-name">Coomb's</h2>
        <div class="algorithm">
          <p class="algorithm-description"></p>
          <div id="coombs-graph" class="algorithm-graphic"><table id="distances-table"></table></div>
          <div id="coombs-table" class="algorithm-table"></div>
        </div>
      </div>
    </div>
  </div>
</div>
